<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<!-- title translated with user language passed by the controller -->
		<h3>{{ t('app', 'About', null, userLanguage) }}</h3>
		<!-- title translated with cookie information, the second argument is the default value -->
		<h3>{{ t('app', 'About', null, cookieGet('language','en-US')) }}</h3>
		<!-- title translated with hard coded  language -->
		<h3>{{ t('app', 'About', null, 'fr-FR') }}</h3>
	</div>
</div>