<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3>{{ title }}</h3>
        <hr>
        {% for post in posts %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ post.title }}</div>
            <div class="panel-body">{{ post.body }}</div>
        </div>
        {% endfor %}
    </div>
</div>